<%#-- provide(:title, 'Vyhľadávanie') %>

<% if signed_in? && current_user.admin?
     @admin = true
   else
     @admin = false
   end %>

<div class="pocetVysledkov">

  <b><h5>Počet
    výsledkov:  <%= @drug.total_entries if !@drug.nil? %>&nbsp; &nbsp; &nbsp; <%= link_to 'Naspäť', :back, id: :'backLink' %></h5></b>

  <p><b><%= @param %></b></p>

</div>

<% if @drug.nil? or @drug.count < 1 %>

    <div class="pocetVysledkov">
      <b><h5>Nenašli sa žiadne výsledky pre "<%= @param %>". Je nám to ľúto, skúste to ešte raz.</h5></b>

    </div>

<% else %>

    <br><br>

    <p id="notice"><%= notice %></p>

    <%= will_paginate @drug %>

    <% @drug.each do |drug| %>
        <div class="foundResults">

          <p>

          <div class="cast name">
            <% if !drug.sukl_name.empty? %>
                <%= drug.sukl_name %>
            <% else %>
                Bez mena: <%= drug.code %>
            <% end %>
          </div>
          </p>

          <p>
            <% if !drug.label.nil? %>
              <div class="cast popis"><b>Popis: </b><%= drug.label if defined? drug.label %></div>
          <% end %>
          </p>

          <p>
            <% if !drug.usage.nil? %>
              <div class="cast usage"><b>Ako používať liek? </b><%= drug.usage if defined? drug.usage %></div>
          <% end %>
          </p>

          <div id="menu" class="dropdown">
            <a href="dropdown-menu more" class="dropdown-toggle" id="moreLink" data-toggle="dropdown" onmouseover="$(this).next().slideDown()" onmouseout="$(this).next().slideUp()">
              Viac o lieku
            </a>
            <ul class="dropdown-menu more">

              <% if !drug.sukl_name.nil? %>
                  <div class="cast sukl_name"><b>ŠÚKL meno: </b><%= drug.sukl_name if defined? drug.sukl_name %></div>
              <% end %>

              <div class="cast code"><b>Kód: </b><%= drug.code if defined? drug.code %></div>
              <div class="cast id"><b>ID: </b><%= drug.id if defined? drug.id %></div>

              <% if !drug.form.nil? %>
                  <div class="cast form"><b>Forma: </b><%= drug.form if defined? drug.form %></div>
              <% end %>

              <% if !drug.holder_id.nil? %>
                  <div class="cast holder"><b>Držiteľ: </b><%= drug.holder.name_clean if !drug.holder.nil? %></div>
              <% end %>

              <% if !drug.supplier_id.nil? %>
                  <div class="cast supplier"><b>Dodávateľ: </b><%= drug.supplier.name_clean if !drug.supplier.nil? %>
                  </div>
              <% end %>

              <% if !drug.producer_id.nil? %>
                  <div class="cast producer>"><b>Výrobca: </b><%= drug.producer.name_clean if !drug.producer.nil? %>
                  </div>
              <% end %>

              </table>
            </ul>
          </div>

          <p>
            <% if @admin %>
                <%= link_to 'Edit', edit_drug_path(drug) %>  |
                <%= link_to 'Destroy', drug, method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </p>

          <br>
        </div>

        <div class="storeButton">
          <% @drug_name=drug.name
             @drug_name=@drug_name.split(' ')[0]
             @site_url="http://eshop.zdravmat.sk/vyhladavanie?orderby=position&orderway=desc&search_query=".concat(@drug_name) %>

          <p class="cast store button" id="storeButton">
            <%= link_to('Koľko stojí '.concat(@drug_name).concat(" ?"), "#{@site_url}", :onclick => "incr_clicks(#{drug.id})") %>
          </p>

        </div>

    <% end %>

    <%= will_paginate @drug %>

<% end %>

<script>
    $(document).ready(function () {

        var url = location.href;

        if(url.search('wide_search') > 0){
            var reg = new RegExp('\\+', "gi");

            var param = url.slice(url.search('q=') + 2).replace(reg, ' ');
            param = param.slice(0, param.search('&'));

            var re = new RegExp(param, "gi");
            var y = $('.foundResults').not('#storeButton');

            y.each(function () {

                this.innerHTML = this.innerHTML.toString().replace(re,
                        '<span style=" \
                                 text-transform: capitalize;\
                                 padding: 2px 10px 2px 10px;\
                                 text-transform: capitalize; \
                                 background-color: #87d174; \
                                 border: 0px solid; \
                                 -moz-border-radius: 5px; \
                                 border-radius: 5px;\
                                 "><b>$&</b></span>');
            })

        }
        else if(url.search('body_clicked_search') > 0){
            var m = url.match(/\d+/g);

            for(var i = 0; i < m.length; i++){
               if(m[i] == 5) { highlight('hlav.') }
               if(m[i] == 6) { highlight('ucha'); highlight('uší'); highlight('uši') }
               if(m[i] == 3) { highlight('\\bnos.\\b'); highlight('nozdier') }
               if(m[i] == 1) { highlight('\\boka\\b'); highlight('\\boč.\\b'); highlight('viečok'); highlight('viečku'); }
               if(m[i] == 4) { highlight('\\bzubov\\b'); highlight('\\zub\\b'); highlight('\\bjazyk.\\b'); highlight('\\bmandl.\\b'); }
               if(m[i] == 8) { highlight('\\bmandl.'); highlight('\\bkrk.\\b'); highlight('pažeráka'); highlight('krčné'); }
               if(m[i] == 9) { highlight('\\bramen....'); highlight('\\bramien\\b'); }
               if(m[i] == 11) { highlight('\\bhrudn'); highlight('\\bprsia\\b'); highlight('\\bsrdc'); highlight('\\bbradavk'); }
               if(m[i] == 16) { highlight('\\bbruch'); highlight('\\bru.n'); highlight('žalúd'); }
               if(m[i] == 12 || m[i] == 14) { highlight('svalov'); }
               if(m[i] == 18) { highlight('dlan'); }
               if(m[i] == 17) { highlight('penis'); highlight('mieška'); highlight('semenn'); highlight('vaječní'); highlight('pošv.'); }
               if(m[i] == 20) { highlight('svalov'); highlight('stehn'); highlight('stehien'); highlight('stehenn'); }
               if(m[i] == 22) { highlight('kolen'); highlight('kolien'); }
               if(m[i] == 24) { highlight('nôh'); highlight('píštala'); highlight('píštaly'); }
               if(m[i] == 26) { highlight('chodidiel'); highlight('chodidl'); }
            }


        }
    })

function highlight(param){

    var re = new RegExp(param, "gi");
    var y = $('.foundResults').not('#storeButton');

    y.each(function () {

        this.innerHTML = this.innerHTML.toString().replace(re,
                '<span style=" \
                         text-transform: capitalize; \
                         background-color: #87d174; \
                         "><b>$&</b></span>');
    })
}
</script>