<% provide(:title, "Vyhľadávanie") %>

<b>
  Počet výsledkov:  <%= @drug.count %>
</b>

<br><br>

<p id="notice"><%= notice %></p>

<%-#= will_paginate %>

<% @drug.each do |drug| %>
<p>
  <b>ID:</b>
  <%= drug.id if defined? drug.id %>
</p>

<p>
  <b>Meno:</b>
  <%= drug.name if defined? drug.name %>
</p>

<p>
  <b>Kód:</b>
  <%= drug.code if defined? drug.code %>
</p>

<p>
  <% if !drug.sukl_name.nil? %>
    <b>ŠÚKL meno:</b>
  <% end %>
  <%= drug.sukl_name if defined? drug.sukl_name %>
</p>

<p>
  <% if !drug.form.nil? %>
    <b>Forma:</b>
  <% end %>
  <%= drug.form if defined? drug.form %>
</p>

<p>
  <% if !drug.label.nil? %>
    <b>Popis:</b>
  <% end %>
  <%= drug.label if defined? drug.label %>
</p>

<p>
  <% if !drug.usage.empty? %>
    <b>Ako používať liek? </b>
  <% end %>
  <%= drug.usage if defined? drug.usage %>
</p>

<p>
  <% if !drug.holder_id.nil? %>
    <b>Držiteľ:</b>
  <% end %>
  <%= drug.holder.name_clean if !drug.holder.nil? %>
</p>

<p>
  <% if !drug.supplier_id.nil? %>
    <b>Dodávateľ:</b>
  <% end %>
  <%= drug.supplier.name_clean if !drug.supplier.nil?  %>
</p>

<p>
  <% if drug.producer_id.nil? %>
    <b>Výrobca:</b>
  <% end %>
    <%= drug.producer.name_clean if !drug.producer.nil? %>
</p>

<p>
  <% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_drug_path(drug) %>  |
  <%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

----------------------------------------------------
<br>
<% end %>
<%= link_to 'Back', root_url %>

<%-#= will_paginate %>