<% provide(:title, "Prihlásenie") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
       
      <%= f.label :Meno, 'Meno' %>
      <%= f.text_field :name %>

      <%= f.label :password, 'Heslo' %>
      <%= f.password_field :password %>

      <%= f.submit 'Prihlásiť', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
